.header {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.todolist {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: aquamarine;
    border-top-left-radius: calc(3.25rem - 15px);
    border-top-right-radius: calc(3.25rem - 15px);
    border-bottom-left-radius: calc(3.25rem - 15px);
    border-bottom-right-radius: calc(3.25rem - 15px);
}

.input-title {
    width: 50%;
    margin: 5px;
}

.input-descr {
    width: 80%;
    margin: 5px;
}

.tasks {
    display: grid;
    grid-template-columns: auto auto;
}

.task-row {
    display: flex;
    text-align: left;
    width: 50%;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.done {
    text-decoration: line-through;
    opacity: 0.4;
  }


.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete {
    float: left;
    width: 32px;
    height: 32px;
}

.edit {
    float: left;
    width: 36px;
    height: 36px;
}

.check {
    float: left;
    width: 32px;
    height: 32px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }